img, svg {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.container-list {
    cursor: pointer;
    overflow-y: auto;
    height: 85vh;
}

@media only screen and (max-width: 695px) { 
    .container-list {
        height: 75vh;
    }
}