.div-scroll {
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 50px;
    padding-bottom: 40px;

    &::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: rgb(60, 62, 68);
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        // background: rgb(60, 62, 68);
        background: #ccc;
        border-radius: 25px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }
    
    .card {
        margin-bottom: 40px;
        min-height: 440px;
        background-color: #3c3e44;
        color: #fff;
    }

    .group-status {
        display: flex;
        flex-direction: row;
        align-items: center;
  
        div:nth-child(2) {
            height: 12px;
            width: 12px;
            background: #55cc44;
            border-radius: 50%;
            margin-left: 10px;
        }
    }


    .color {
        background-color: rgb(214, 61, 46)!important;
    } 
}