<header class="p-3 bg-dark text-white">
    <div class="container-header">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <h2 class="big-screen">Rick and Morty</h2>
          <h2 class="short-screen">Rick & Morty</h2>
        </div>
        
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'languageMenu.language' | translate }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li (click)="useLanguage('en')"><a class="dropdown-item">{{ 'languageMenu.inglish' | translate }}</a></li>
            <li (click)="useLanguage('br')"><a class="dropdown-item">{{ 'languageMenu.portuguese' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </header>