a {
    margin-top: 50px;
    background-color: #fff;
}

.container-detail {
    margin-top: 40px;
    height: 70vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgb(60, 62, 68);
    color: #fff;
    padding: 35px 0 0 35px;

    &::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: rgb(60, 62, 68);
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        // background: rgb(60, 62, 68);
        background: #ccc;
        border-radius: 25px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }
  

    ul > li {
        padding-left: 0;

        span {
            height: 12px;
            width: 12px;
            background: #55cc44;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            bottom: 13px;
            margin-left: 10px;
        }

        .color {
            background-color: rgb(214, 61, 46)!important;
        } 
    }

    .div-episodes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .title {
            margin-right: 10px;
        }
        
        .episode-item {
            margin: 0 10px 0 0px;

            &::after {
                content: ","
            }
            
            &:last-child::after {
                content: ""
            } 
        }
    }

    .style-li {
        background-color: rgb(60, 62, 68);
        color: #fff;
        border-bottom-color: #ccc;
    }

    ::ng-deep .custom-json span {color: white;}
}
