<ng-container *ngIf="characterDetail$ | async as character">
    <a routerLink="/characters" class="btn btn-outline-dark">Back</a>
    <div class="card mb-3 container-detail" >
        <div class="row g-0">
          <div class="col-md-3">
            <img [src]="character?.image" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{character.name}}</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Status: {{character.status}} <span [ngClass]="{'color': character.status != 'Alive'}"></span> </li>
                <li class="list-group-item">Species: {{character.species}}</li>
                <li *ngIf="character.type" class="list-group-item">Type: {{character.type}}</li>
                <li class="list-group-item">Gender: {{character.gender}}</li>
                <li class="list-group-item">Origin: {{character.origin.name}}</li>
                <li class="list-group-item">Location: {{character.location.name}}</li>
                <li class="list-group-item"> 
                  <div class="div-episodes">
                    <div class="title">Episodes:</div>
                    <div class="episode-item" *ngFor="let episode of episodes">{{episode}}</div>
                  </div> 
              </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</ng-container>