<ng-container *ngIf="locationDetail$ | async as location">
    <a routerLink="/locations" class="btn btn-outline-dark">{{'btn' | translate}}TODO fix bug language</a>
    <div class="card mb-3 container-detail" >
        <div class="row g-0">
          <div class="col-md-3">
            <img src="../../../../assets/img/planets.jpeg" class="img-fluid rounded " alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{location.name}}</h5>
              <ul class="list-group list-group-flush">
                <li *ngIf="location.type" class="list-group-item style-li">Type: {{location.type}}</li>
                <li class="list-group-item style-li">Dimension: {{location.dimension}}</li>
                <li class="list-group-item style-li">Number of residents: {{location.residents.length}}</li>
              </ul>
              <prettyjson [obj]="location" class="custom-json"></prettyjson>
            </div>
          </div>
        </div>
    </div>
</ng-container>

<ngx-spinner size="medium" bdOpacity=0.6 type="square-loader"[fullScreen]="true"></ngx-spinner>