<ng-container>
    <a routerLink="/episodes" class="btn btn-outline-dark">Back</a>
    <div class="card mb-3 container-detail" >
        <div class="row g-0">
          <div class="col-md-3">
            <img src="../../../../assets/img/episodes.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{episodeDetail.name}}</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Air date: {{episodeDetail.air_date}}</li>
                <li *ngIf="episodeDetail.episode" class="list-group-item">Episode: {{episodeDetail.episode}}</li>
                <li class="list-group-item"> 
                  <div class="div-characters">
                    <div class="title">Characters:</div>
                    <div class="character-item" *ngFor="let character of episodeDetail.characters">{{character.name}}</div>
                  </div> 
              </li>
              </ul>
              <prettyjson [obj]="episodeDetail"></prettyjson>
            </div>
          </div>
        </div>
    </div>
</ng-container>

<ngx-spinner size="medium" bdOpacity=0.6 type="square-spin"[fullScreen]="true"></ngx-spinner>