@import '../../../../../src/assets/styles/container-detail';

a {
    margin-top: 50px;
}

.container-detail {
    @include container-detail;

    .div-characters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .title {
            margin-right: 10px;
        }
        
        .character-item {
            margin: 0 10px 0 0px;

            &::after {
                content: ","
            }
            
            &:last-child::after {
                content: ""
            } 
        }
    }
}
