.sidebar-content {
  width: 100%;
  padding: 0 50px;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar-divider {
  height: 93vh;
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}
